@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/TitilliumWeb-SemiBold.ttf');
}

body {
  font-family: 'Titillium Web', sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #202020;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2 {
  align-items: center;
  justify-self: center;
  color: #93005a;
}

#root {
  width: 100%;
  overflow-y: auto;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

header, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}


.nav-bar{
  background-color: rgb(0, 255, 157);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}
.nav-btn{
  border: none;
}
.nav-left{
  margin-right: 5rem;
  justify-self: left;
}
.nav-right{
  margin-left: 5rem;
}
.photo-title{
  color: rgb(0, 255, 157);
}
.photo-description{
  color: rgb(238, 238, 238);
}

img{
  height: 75%;
  border: 2px, solid, rgb(0, 255, 157);
}
